# ignore everything
/*

# do not ignore these:
!.gitignore
!hypr/
!imv/
!mpv/
!calcure/
!ghostty/
!foot/
!mako/
!nvim/
!fastfetch/
!foot/
!rofi/
!godot/
!zsh
!zsh/pure/
zsh/.zsh_history
zsh/.zcompdump
